
.user-big-container {
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.category-container {
    width: 80%;
}
h1 {
    font-size: 55px;
    font-family: "Whisper", cursive;
    font-weight: 500;
   
}

h3{
    text-align: center;
    font-size: 55px;
    font-family: "Whisper", cursive;
    font-weight: 500;
}

h2{
    text-align: center;
}



.btn{
    background-color: gray;
}