<div class="popup-container">
    <button class ="btn btn-warning" style="color: aliceblue !important;" (click)="closeDialog()"> 
        X
    </button>
    <mat-form-field>
        <mat-label> Book Name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select Author</mat-label>
        <mat-select>
          <mat-option value="one">Ahmed Hussien </mat-option>
          <mat-option value="two">Rahma Samy</mat-option>
          <mat-option value="two">Gehad Gallo</mat-option>
        </mat-select>
       
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select Category</mat-label>
        <mat-select>
          <mat-option value="one">Ascientific books </mat-option>
          <mat-option value="two">romantic books</mat-option>
          <mat-option value="two">sporting books</mat-option>
        </mat-select>
       
      </mat-form-field>
      <mat-form-field>
        <mat-label> img</mat-label>
        <input matInput>
      </mat-form-field>
    
</div>