<div class="header-container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-container">
        <div class="logo">
          <div class="icon-para">
            <i class="fa-solid fa-book-open-reader"></i>
            <p>BookStore-Market</p>
          </div>
       
         
        </div>
        <div class="btn-buynow">
          <button class="btn btn-warning p-2">
             Buy Now
          </button>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-container2">
        <div class="container-fluid second-navbar">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" routerLink="">Home</a>
              <a class="nav-link" routerLink="books">Books</a>
              <a class="nav-link" routerLink="admin">Admin</a>
              <a class="nav-link" routerLink="about">About</a>
              <a class="nav-link" routerLink="login">Login</a>
              <a class="nav-link" routerLink="register">Register</a>
              
            </div>
          </div>
          <div class="navbar-brand" >
            <img src="https://writer.ancorathemes.com/splash/src/img/logo.svg" alt="img-not-found">
          </div>
          <div class="btn-purchase-theme">
            <button class="btn btn-warning p-3">
              Purchase Theme
            </button>
          
          </div>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
</div>



