.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    flex-direction: column;
  }
  .register-container .register-form {
      width: 60% !important;
      display: flex !important;
      align-content: center !important;
      justify-content: center !important;
      height: 500px;
      flex-direction: column;
  }

  .btn-submit {
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .btn-submit button {
    width: 30%;
  }