<div class="bookDetails">
    <div class="parentBookTop">
      <div class="bookLeft">
        <div class="parentImage">
          <img src="download.jpeg" alt="" />
        </div>
      </div>
      <div class="parentBookRight">
        <h2>Author Name</h2>
        <h2 class="bookDate">15/06/1980</h2>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
          corrupti perspiciatis cumque blanditiis accusamus, quae minima
          dolorem qui iure. Voluptas vitae quasi mollitia ab eius? Provident
          eum explicabo maiores neque.
        </p>
      </div>
    </div>

    <div class="parentDown">
      <h4>Author's Books</h4>
      <div class="reviews">
        <div class="bookItemReview">
          <div class="authorParentBookdown">
            <div class="authorBookLeft">
              <div class="ParentImage">
                <img [src]="'assets/orange.jpeg'" alt="Orange Image" />
              </div>
              <div class="contentAuthorDown">
                <h3>Book Name</h3>
                <div class="parentContentAuthers">
                  <div class="starts">
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                  </div>
                  <span>3.2 - 356 ratings</span>
                </div>
              </div>
            </div>
            <div class="parentBookRight">
              <select name="" id="" class="select">
                <option value="want-to-read">want-to-read</option>
                <option value="current-read">current-read</option>
                <option value="read">read</option>
              </select>
              <div class="starts">
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
              </div>
            </div>
          </div>
        </div>

        <div class="bookItemReview">
          <div class="authorParentBookdown">
            <div class="authorBookLeft">
              <div class="ParentImage">
                <img src="download.jpeg" alt="" />
              </div>
              <div class="contentAuthorDown">
                <h3>Book Name</h3>
                <div class="parentContentAuthers">
                  <div class="starts">
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                  </div>
                  <span>3.2 - 356 ratings</span>
                </div>
              </div>
            </div>
            <div class="parentBookRight">
              <select name="" id="" class="select">
                <option value="want-to-read">want-to-read</option>
                <option value="current-read">current-read</option>
                <option value="read">read</option>
              </select>
              <div class="starts">
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
              </div>
            </div>
          </div>
        </div>




        <div class="bookItemReview">
          <div class="authorParentBookdown">
            <div class="authorBookLeft">
              <div class="ParentImage">
                <img src="download.jpeg" alt="" />
              </div>
              <div class="contentAuthorDown">
                <h3>Book Name</h3>
                <div class="parentContentAuthers">
                  <div class="starts">
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                  </div>
                  <span>3.2 - 356 ratings</span>
                </div>
              </div>
            </div>
            <div class="parentBookRight">
              <select name="" id="" class="select">
                <option value="want-to-read">want-to-read</option>
                <option value="current-read">current-read</option>
                <option value="read">read</option>
              </select>
              <div class="starts">
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
              </div>
            </div>
          </div>
        </div>




        <div class="bookItemReview">
          <div class="authorParentBookdown">
            <div class="authorBookLeft">
              <div class="ParentImage">
                <img src="download.jpeg" alt="" />
              </div>
              <div class="contentAuthorDown">
                <h3>Book Name</h3>
                <div class="parentContentAuthers">
                  <div class="starts">
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                  </div>
                  <span>3.2 - 356 ratings</span>
                </div>
              </div>
            </div>
            <div class="parentBookRight">
              <select name="" id="" class="select">
                <option value="want-to-read">want-to-read</option>
                <option value="current-read">current-read</option>
                <option value="read">read</option>
              </select>
              <div class="starts">
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
              </div>
            </div>
          </div>
        </div>




        <div class="bookItemReview">
          <div class="authorParentBookdown">
            <div class="authorBookLeft">
              <div class="ParentImage">
                <img src="download.jpeg" alt="" />
              </div>
              <div class="contentAuthorDown">
                <h3>Book Name</h3>
                <div class="parentContentAuthers">
                  <div class="starts">
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                  </div>
                  <span>3.2 - 356 ratings</span>
                </div>
              </div>
            </div>
            <div class="parentBookRight">
              <select name="" id="" class="select">
                <option value="want-to-read">want-to-read</option>
                <option value="current-read">current-read</option>
                <option value="read">read</option>
              </select>
              <div class="starts">
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
