<div class="category-container">
    <h1> Books </h1>
    <div class="icon-plus">
        <i class="fa-solid fa-plus btn btn-warning"(click) = "openDialog()"></i>
    </div>
   
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">photo</th>
            <th scope="col">Name</th>
            <th scope="col">CategoryId</th>
            <th scope="col">AuthorId</th>
            <th scope="col">Actions</th>
          
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>phote</td>
            <td>Love</td>
            <td>12434</td>
            <td>12345</td>
            <td>
                <div class="icons">
                    <a href=""><i class="fa-solid fa-trash  btn btn-warning"></i></a>
                    <a href=""><i class="fa-solid fa-pen-to-square  btn btn-warning"></i></a>
                </div>
            </td>
           
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>phote</td>
            <td>Love</td>
            <td>12434</td>
            <td>12345</td>
            <td>
                <div class="icons">
                    <a href=""><i class="fa-solid fa-trash  btn btn-warning"></i></a>
                    <a href=""><i class="fa-solid fa-pen-to-square  btn btn-warning"></i></a>
                </div>
            </td>
           
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>phote</td>
            <td>Love</td>
            <td>12434</td>
            <td>12345</td>
            <td>
                <div class="icons">
                    <a href=""><i class="fa-solid fa-trash  btn btn-warning"></i></a>
                    <a href=""><i class="fa-solid fa-pen-to-square  btn btn-warning"></i></a>
                </div>
            </td>
           
          </tr>
        </tbody>
      </table>
</div>
