<div class="bookDetails">
    <div class="parentBookTop">
      <div class="bookLeft">
        <div class="parentImage">
            <img [src]="bookDetials.img" alt="Orange Image" />
        </div>
        <select name="" id="" class="select">
          <option value="want-to-read">want-to-read</option>
          <option value="current-read">current-read</option>
          <option value="read">read</option>
        </select>
        <div class="starts">
          <span>&#9733;</span>
          <span>&#9733;</span>
          <span>&#9733;</span>
          <span>&#9733;</span>
          <span>&#9733;</span>
        </div>
      </div>
      <div class="parentBookRight">
        <h2>{{bookDetials.title}}</h2>
        <h2>by  {{ bookDetials.Author }}</h2>
        <h2>Category {{ bookDetials.Category}}</h2>
        <div class="starts">
          <span>&#9733;</span>
          <span>&#9733;</span>
          <span>&#9733;</span>
          <span>&#9733;</span>
          <span>&#9733;</span>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
          corrupti perspiciatis cumque blanditiis accusamus, quae minima
          dolorem qui iure. Voluptas vitae quasi mollitia ab eius? Provident
          eum explicabo maiores neque.
        </p>
      </div>
    </div>

    <div class="parentDown">
      <h4>Reviews</h4>
     <div class="reviews">
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
          atque aliquam veritatis minima libero laborum facilis repellendus
          voluptatem! Corrupti adipisci aut, facere perspiciatis eligendi
          reiciendis consequuntur at excepturi autem corporis.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
          atque aliquam veritatis minima libero laborum facilis repellendus
          voluptatem! Corrupti adipisci aut, facere perspiciatis eligendi
          reiciendis consequuntur at excepturi autem corporis.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
          atque aliquam veritatis minima libero laborum facilis repellendus
          voluptatem! Corrupti adipisci aut, facere perspiciatis eligendi
          reiciendis consequuntur at excepturi autem corporis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
          atque aliquam veritatis minima libero laborum facilis repellendus
          voluptatem! Corrupti adipisci aut, facere perspiciatis eligendi
          reiciendis consequuntur at excepturi autem corporis.
        </p>


        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
          atque aliquam veritatis minima libero laborum facilis repellendus
          voluptatem! Corrupti adipisci aut, facere perspiciatis eligendi
          reiciendis consequuntur at excepturi autem corporis.
        </p>



        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
          atque aliquam veritatis minima libero laborum facilis repellendus
          voluptatem! Corrupti adipisci aut, facere perspiciatis eligendi
          reiciendis consequuntur at excepturi autem corporis.
        </p>
        
     </div>
    </div>
  </div>
