<div class="popup-container">
  <button class="btn btn-warning" style="color: aliceblue !important;" (click)="closeDialog()">X</button>
  <form [formGroup]="authorForm" (ngSubmit)="onFormSubmit()" class="categoryForm">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
    <div>
      <mat-label>Img</mat-label>
      <input type="file" (change)="onFileChange($event)" multiple>
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button color="warning" class="btn btn-warning" type="submit">{{data ? 'Update' : 'Save'}}</button>
    </div>
  </form>
</div>

